* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 607px;
  height: 829px;
  margin: auto;
  margin-top: 75px;
  border-radius: 12px;
  background: linear-gradient(
    0deg,
    rgba(78, 33, 245, 0.9668242296918768) 4%,
    rgba(125, 57, 189, 1) 41%
  );
}
